<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam|Noticia+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <link rel="stylesheet" href="./vueWYCIWUG/vueWysiwyg.css">
    <title>WordPress</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
            <img src="./resource/icon.png">
            <a class="navbar-brand" href="#">WordPress</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Features
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">List Article</a>
                            <!-- <a class="dropdown-item" href="#"></a> -->
                            <a class="dropdown-item" href="#">List Contributor</a>
                            <!-- <a class="dropdown-item" href="#"></a> -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">About Creator</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Article
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Make Article</a>
                            <!-- <a class="dropdown-item" href="#"></a> -->
                            <a class="dropdown-item" href="#">Edit Contributor</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button type="submit" class="btn btn-light">Search</button>
                </form>
            </div>
        </nav>
        <!-- Navbar content -->
    </header>
    <!-- <section class="main">
        <p id="invitation"> Join and Share Your Words <br>
            With Us...
        </p>
        <img src="./resource/balzqg.jpg" id="main-img">
        <p id="quote"> “Reading brings us unknown friends” </p>
    </section> -->
    <!-- <section class="middle">
        <p class="tengah">
            What will you get..
        </p>
        <ul>
            <li><img src="./resource/comunity.png" class="comunity">Comunity Sharing</li>
            <li><img src="./resource/relation.png" class="relation">Relation</li>
            <li><img src="./resource/knowledge.png" class="knowledge">Knowledge</li>
            <li><img src="./resource/experience.png" class="experience">Experience</li>
        </ul>

    </section> -->
    <!-- <article id="app"> -->
        <div id="app">
            <ol>
                <li v-for="todo in todos">
                    <!-- Looping data, use (v-for) -->
                    {{ todo.text }}
                </li>
            </ol>
        </div>
    <!-- </article> -->
    <!-- <section class="list-of-author">
        <div id="content-author">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card " style="width: 10rem;">
                    <img src="#" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" style="height: 5rem;">Name</h5>
                        <a onclick="someTrigger" href="#" class="btn btn-primary d-flex justify-content-center">Explore
                            Author</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section id="edit-blog">

        <div id="app">
            <wysiwyg v-model="text"></wysiwyg>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./vueWYCIWUG/vueWysiwyg.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                components: {
                    wysiwyg: vueWysiwyg.default.component,
                },
                data() {
                    return {
                        text: '',
                    };
                },
            });
        </script>
    </section>

    <footer>
        <p>WordPress, Copyright &copy; 2019</p>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./script/main.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>