<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="625839930459-ckn2tpnpgcurp6b3vodvebmh15lmacgk.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=Muli|Poppins|Work+Sans&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
    <!-- integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="/wysiwig/vueWysiwyg.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Wordpress</title>
    <link rel="shortcut icon" type="image/png"
        href="https://freepngimg.com/download/wordpress_logo/3-2-wordpress-logo-png-pic.png" />

</head>

<body>
    <div id="app">
        <div v-show="beforein">
            <nav id="navbarout">
                <div class="left-nav-out">
                    <a href="#" class="black" @click="clickHome"><i class="fab fa-wordpress fa-2x black"></i> iPress</a>
                </div>
                <div class="right-nav-out">
                    <div class="next-right">
                        <div>
                            <!-- <div id="google-signin-button" class="g-signin2" data-onsuccess="onSignIn" @click="gsignin"></div> -->
                        </div>
                        <div class="rightcorner">
                            <div>

                                <a href="#" @click="clickSignIn"><i
                                        class="fas fa-sign-in-alt fa-lg right black"></i></a>
                            </div>
                            <div>
                                <a href="#" @click="clickSignUp"> <i class="fas fa-user-plus fa-lg black"></i></a>
                            </div>
                        </div>

                    </div>

                </div>
            </nav>

            <div class="home" v-show="home">
                <div class="tengah">
                    <h1>Welcome to iPress</h1>
                    <p>by Iqbal</p>
                </div>
            </div>

            <div class="sign-in" v-show="login">
                <div class="signin">
                    <div class="formsign">
                        <h1>Sign In</h1>
                        <form action="" @submit.prevent="signIn">
                            <div>
                                <div>
                                    <label for="emaillog">Email</label>
                                </div>
                                <input type="email" id="emaillog" placeholder="Email" v-model="emailLogin">
                            </div>
                            <div>
                                <div>
                                    <label for="passwordlog">Password</label>
                                </div>

                                <input type="password" id="passwordlog" v-model="passwordLogin">
                            </div>
                            <div class="subss">
                                <button>SignIn</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sign-in" v-show="signup">
                <div class="signin">
                    <div class="formsign">
                        <h1>Sign Up</h1>
                        <form action="" @submit.prevent="register">
                            <div>
                                <div>
                                    <label for="Name">Name</label>
                                </div>
                                <input type="text" id="Name" placeholder="Name" v-model="nameSignup">
                                <div>
                                    <label for="email">Email</label>
                                </div>
                                <input type="email" id="email" placeholder="Email" v-model="emailSignup">
                            </div>
                            <div>
                                <div>
                                    <label for="password">Password</label>
                                </div>

                                <input type="password" id="password" v-model="passwordSignup">
                            </div>
                            <div class="subss">
                                <button>SignUp</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="afterin" v-show="afterin">
            <nav class="navbarin">
                <div class="left-nav">
                    <a href="#"><i class="fab fa-wordpress fa-lg"></i> iPress</a>
                </div>
                <div class="right-nav">
                    <i class="fas fa-newspaper"></i>
                    <div class="next-right">
                        <div>
                            <button class="right" id="button1" @click="checkWrite"><i class="far fa-edit write "></i>
                                Write</button>
                        </div>
                        <div class="rightcorner">
                            <div>
                                <a href="" @click="signOut"><i class="fas fa-sign-out-alt fa-lg white"></i></a>     
                            </div>
                        </div>

                    </div>

                </div>
            </nav>

            <div class="container">
                <div id="column-left">
                    <div class="box">
                        <i class="far fa-user"></i> Welcome, Iqbal
                    </div>
                    <div class="box">
                        <a class="dalambox" href="#" @click="checkBody"><i class="fas fa-laptop"></i> view articles</a>
                    </div>
                    <div class="box">
                        <a class="dalambox" href="#"><i class="fas fa-user"></i>  my Articles</a>
                    </div>
                </div>
                <div id="column-right" v-if="isBody">
                    <div class="container2">
                        <div id="top">
                            <div class="atas">
                                <div class="published">
                                    <a class="publish" href="#">published</a>
                                </div>
                                <div class="published">
                                    <a id="draft" href="#">draft</a>
                                </div>
                            </div>
                            <div id="searchbar">
                                <div>
                                    <input type="text" v-model="filter">
                                </div>

                                <div id="search">

                                    <i class="fas fa-search write"></i>
                                </div>
                            </div>

                        </div>
                        <div class="isi">
                            <div class="bottom" v-for="(article,index) in articles" :key="index">
                                <div class="judul">
                                    <div>
                                        <h4>{{article.title}}</h4>
                                        <p>{{article.content}}</p>
                                        <p>by {{article.author}}</p>
                                        <p>{{String(new Date(article.createdAt)).substr(0,10)}}</p>
                                    </div>
                                    <div class="photo">
                                        <div class="ph">
                                            <img :src="article.featured_image"
                                                alt="foto">
                                        </div>
                                        <div class="more">
                                            <div class="dots">
                                                <a class="publish" href="#" @click="deleteItem(article._id)">delete</a>
                                                <a class="publish" href="#" @click="clickEdit(article._id)">edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="column-right-write" v-if="isWrite">
                    <div class="container2">
                        <div class="bottom">
                            <form action="" enctype="multipart/form-data" @submit.prevent="submitForm">
                                <div>
                                    <input type="text" placeholder="Title" v-model="title">
                                </div>
                                <div id="textarea">
                                    <wysiwyg v-model="text"></wysiwyg>
                                </div>
                                <div>
                                    <input type="file" id="file" ref="file" v-on:change="handlefileupload($event)">
                                </div>
                                <div class="tombol">
                                    <div class="submitbutton">
                                        <button>submit</button>
                                    </div>
                                    <div>
                                        <button>clear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="column-right-edit" v-if="isEdit">
                    <div class="container2">
                        <div class="bottom">
                            <form action="" @submit.prevent="editItem(article._id)">
                                <div>
                                    <input type="text" v-model="title">
                                </div>
                                <div class="textarea">
                                    <wysiwyg v-model="text"></wysiwyg>
                                </div>
                                <div class="tombol">
                                    <div class="submitbutton">
                                        <button>submit</button>
                                    </div>
                                    <div>
                                        <button @click="clearItem">clear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->
    <script src="/wysiwig/vueWysiwyg.js"></script>
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>