PORT='Your running app port'
secret_key='your secret key for jwt'
GCLOUD_PROJECT='your google project id'
CLOUD_BUCKET='your google bucket name'
file_path='your google api credential file path'
SECRET_PASSWORD='secret password for google user'
client_id='client id for using google sign in'
uri='your mongo db atlas uri cluster'