*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

nav{
    display: flex;
    flex-direction: row;
}

#logo{
    width: 10%;
    background-color: darkslategrey;
    padding: 2%;
    color: azure;
}

#right-logo{
    padding: 2%;
    display: flex;
    width:90%;
    justify-content: space-between;
    background-color: lightblue;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin-right: 40px
}

.container{
    display: flex;

}
#left-column{
    overflow: scroll;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 100vh;
}

#right-column{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    overflow: hidden;
}

.menu{
    padding: 5%;
    font-size: 120%;
}

#top-content{
    padding: 5%;
    display: flex;
    font-size: 120%;
    border-style: hidden;
    margin: 40px 40px 40px 40px;
    background-color: lightgray;
}

#search{
    display: flex;
    margin-left: 600px;
}

#plan{
    display: flex;
    justify-content: space-between;
}

#image{
    display: flex;
    justify-content: space-around;
}
.article{
    display: flex;
    flex-direction: column;
}

.article i{
    font-size: 15px;
}

.article b{
    font-size: 30px
}

img{
    width: 100px;
    height: 80px;
}

.content{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    border-style: hidden;
    margin: 10px 40px 40px 40px;
    background-color: lightgray;
}

.option{
    margin-left: 30px;
}
